<div class="container">
    <mat-card class="list-task">
        <mat-card-header class="header">
            <mat-card-title>Task Manager</mat-card-title>
            <mat-card-subtitle>Lista de Tarefas</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-selection-list [(ngModel)]="itensSelecionados">
                <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
                    <span matListItemTitle>{{shoe}}</span>
                    <span matListItemLine>Second line. This line will truncate.</span>
                    <span>Status</span>
                </mat-list-option>
            </mat-selection-list>

            <mat-paginator [length]="20" [pageSize]="4" aria-label="Select page">
            </mat-paginator>

            <div class="actions">
                <div class="group1">
                    <button mat-fab color="primary" (click)="editCreate('123')">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-fab color="accent" (click)="editCreate()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <div class="group2">
                    <button mat-fab color="warn" (click)="deleteTasks()">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-fab class="complete" (click)="completeTasks()">
                        <mat-icon>check</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>