<div class="container">
    <h2 mat-dialog-title>{{ edit ? 'Editar' : 'Criar'}} Task</h2>
    <mat-dialog-content>
        <div class="body">
            <mat-form-field class="example-full-width">
                <mat-label>Titulo</mat-label>
                <input matInput placeholder="Ex. Criar Projeto" [(ngModel)]="title">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Descrição</mat-label>
                <input matInput placeholder="Ex. Desenvolver aplicação de Task Manager" [(ngModel)]="description">
              </mat-form-field>

              <mat-slide-toggle [(ngModel)]="finish">Task Completa: {{ finish ? 'Sim' : 'Não'}}</mat-slide-toggle>
        </div>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
      <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Cancelar</button>
      <button mat-button color="primary" (click)="saveTask()">Salvar</button>
    </mat-dialog-actions>
</div>

